<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/carting</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping class="net.carting.domain.Team"/>
        <mapping class="net.carting.domain.Leader"/>
        <mapping class="net.carting.domain.Racer"/>
        <mapping class="net.carting.domain.CarClass"/>
        <mapping class="net.carting.domain.RacerCarClassNumber"/>
        <mapping class="net.carting.domain.Race"/>
        <mapping class="net.carting.domain.Authority"/>
        <mapping class="net.carting.domain.User"/>
        <mapping class="net.carting.domain.RaceResult"/>
        <mapping class="net.carting.domain.Competition"/>
        <mapping class="net.carting.domain.CarClassCompetition"/>
        <mapping class="net.carting.domain.RacerCarClassCompetitionNumber"/>
        <mapping class="net.carting.domain.TeamInCompetition"/>
        <mapping class="net.carting.domain.CarClassCompetitionResult"/>
        <mapping class="net.carting.domain.File"/>
        <mapping class="net.carting.domain.Files"/>
        <mapping class="net.carting.domain.Document"/>
        <mapping class="net.carting.domain.AdminSettings"/>
    </session-factory>
</hibernate-configuration>