<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <!-- Appenders -->
    <Appenders>
        <!-- CONSOLE appender -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p: [%l] - %m%n"/>
            <Filters>
                <ThresholdFilter level="TRACE"/>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </Console>
        <!-- FILE appender -->
        <RollingFile name="developer" fileName="../dev_logs/dev_log.log" filePattern="../dev_logs/dev_log-%d{MM-dd-yyyy}.log">
            <PatternLayout pattern="%d{ISO8601} %-5p [%l] - %m%n"/>
            <Filters>
                <ThresholdFilter level="TRACE"/>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
        <!-- DATABASE appender -->
        <JDBC name="database" tableName="logs">
            <ConnectionFactory class="net.carting.util.ConnectionFactory" method="getDatabaseConnection" />
            <Column name="message" pattern="%message" />
            <Column name="date" isEventTimestamp="true" />
            <Column name="logger" pattern="%logger" />
            <Filters>
                <ThresholdFilter level="TRACE"/>
                <ThresholdFilter level="DEBUG" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </JDBC>
    </Appenders>
        
    <Loggers>
        <!-- Application Loggers -->
        <Logger name="net.carting" level="trace">
            <AppenderRef ref="database"/>
        </Logger>
        <!-- Root Logger -->
        <Root>
            <AppenderRef ref="console"/>
            <AppenderRef ref="developer"/>
        </Root>
    </Loggers>
</Configuration>
