body {
    padding-bottom: 70px;
}

#header {
    height: 133px;
    padding: 10px;
    text-align: right;
}

.no-padding {
    padding: 0;
}

#jombotron-home {
    background-color: #D9EDF7;
}

.copyright {
    vertical-align: bottom;
}

.user-info-name {
    font-family: 'Arial';
    font-weight: bold;
    color: #888;
    text-shadow: 1px 2px #ccc;
}

#footer {
    width: 100%;
    height: 40px;
    border-top: 2px solid #E3E3E3;
    background-color: #F5F5F5;
    padding-top: 14px;
}

.flag_icon {
    width: 20px;
    height: 20px;
}

.team_valid_icon {
    width: 24px;
}

.fl-right {
    float: right;
}

.fl-left {
    float: left;
}

.file-link {
    margin-bottom: 15px;
    font-size: medium;
}

.width-100 {
    width: 100%;
}

.language_toggle {
    cursor: pointer;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}